@charset "utf-8";
body {
    background-color: #f15c40;
    color: #fff;
    text-shadow: 0 0 4px black;
}

.menu {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    text-align: start;
    color: #fff;
}

.menu:hover {
    box-shadow: 0 0 4px #fff;
}

.corpo {
    width: 90%;
    margin-left: 4rem;
    padding: 1rem;
    border-radius: 4px;
}

.imagem {
    max-width: 70vw;
    display: block;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px #cecece;
}

.meio {
    text-align: center;
}

h3 {
    font: normal 10pt Arial;
    text-align: right;
}

.bordinha {
    border-bottom: 1px solid black;
    margin-bottom: 1.3rem;
}

.tit1 {
    font-weight: normal;
    text-align: center;
}

.tit2 {
    font-weight: normal;
    font-size: 17pt;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.texto {
    text-align: justify;
    font-size: 13pt;
    text-indent: 2rem;
}