@charset "utf-8";
body {
    background-color: #212529;
    color: #fff;
}

.corpo {
    padding: .5rem;
    margin-left: 4rem;
}

.cabecalho {
    display: flex;
    background-color: #c50b3a;
    padding: .3rem;
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu:hover {
    box-shadow: 0 0 4px #fff;
}

.eumesmo {
    margin-left: auto;
    margin-right: auto;
    padding: .2rem;
}

.content {
    display: flex;
    padding: .3rem;
    background-color: #c50b3a;
    height: 17rem;
    border-radius: .2rem;
    margin-bottom: .5rem;
}

.content,
.cabecalho,
footer {
    box-shadow: 0 0 2px #bdbbbb;
}

.content:nth-child(n+2) {
    margin-top: .5rem;
}

.quadradinho {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 30rem;
    margin-right: 2rem;
    padding: .3rem;
}

.titulo,
.imagem {
    text-align: center;
}

.imagem {
    position: relative;
    margin-top: .4rem;
    width: 100%;
    height: 100%;
}

.imagem svg {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    color: #fff;
    cursor: pointer;
    padding: .2rem;
    border-radius: .3rem;
    transition: .3s ease-out;
}

.imagem svg:hover {
    box-shadow: 0 0 4px #fff;
    background-color: #9ca0a0;
}

.contexto {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .3rem;
    position: relative;
}

.descricao {
    height: 10.7rem;
    margin-top: .4rem;
    padding: .3rem;
    line-height: 1.5rem;
}

.tecnologias {
    position: absolute;
    bottom: .3rem;
    left: .3rem;
    width: calc(100% - .6rem);
    height: 2.5rem;
    padding: .2rem;
    line-height: 1.5rem;
}

.titulo,
.imagem,
.descricao,
.tecnologias {
    background-color: #a10e30fd;
    border-radius: .3rem;
    border: 1px solid #212529;
}

footer {
    background-color: #c50b3a;
    padding: .4rem;
    border-radius: .3rem;
}

.footer {
    text-align: center;
    line-height: 2rem;
}

@media(max-width: 400px) {
    .content {
        display: block;
        height: 100%;
    }
    .quadradinho {
        width: 100%;
    }
    .imagem {
        height: 10rem;
    }
    .tecnologias {
        width: 100%;
        margin-top: .5rem;
        position: initial;
    }
}