@charset "utf-8";
body {
    min-height: 100vh;
    background-color: #150019;
}

.sidebar {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3e0748;
    transition: .5s ease-out;
    overflow: hidden;
}

.sidebar:hover {
    width: 300px;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background-color: #ea1d63;
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}