@charset "utf-8";
.sidebar {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #3e0748;
    transition: .5s ease-out;
    overflow: hidden;
    z-index: 4;
    flex-wrap: nowrap;
}

.sidebar:hover,
.sidebar.active {
    width: 300px;
}

.fecha {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left: 15rem;
    top: .3rem;
    width: 30px;
    height: 30px;
    background-color: #ea1d63;
    border-radius: .3rem;
    font-size: 20pt;
    color: #212529;
    cursor: pointer;
    z-index: 5;
}

.fecha.active {
    display: flex;
}

.sidebar ul {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background-color: #ea1d63;
}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.sidebar ul li a .name {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

@media(max-width: 767px) {
    .corpo {
        margin-left: 0;
    }
    .sidebar {
        left: -60px;
    }
    .sidebar.active {
        left: 0;
        width: 100%;
    }
    .fecha {
        left: 90%;
    }
}